{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Proyecto | Repositorio Militar</title>
    <link rel="stylesheet" href="{% static 'proyectos/css/crear_proyecto.css' %}">

</head>
<body>
     {% include 'home/includes/navbar.html' %}

    <div class="form-container">
        <h2><span class="form-header-icon">❤</span> EDITAR PROYECTO</h2>

        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">
                            {% for error in field.errors %}
                                <small>{{ error }}</small>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn-submit">Actualizar Proyecto</button>
        </form>
    </div>
        <script src="{% static 'proyectos/js/script_buscar.js'%}"></script>

</body>
</html>